_target_: src.models.carplan.carplan_model.PlanningModel_MoE
_convert_: "all"

dim: 128
state_channel: 6
polygon_channel: 6
history_channel: 9
history_steps: 21
future_steps: 80
encoder_depth: 4
decoder_depth: 4
drop_path: 0.2
dropout: 0.1
num_heads: 4
num_modes: 12
state_dropout: 0.75
use_ego_history: false
state_attn_encoder: true
use_hidden_proj: True
ref_free_traj: True
# spa args 
use_collision_loss: True
cat_x: False

is_simulation: False
deepseek_num_experts_per_tok: 2
deepseek_n_routed_experts: 16
deepseek_scoring_func: 'softmax'
deepseek_aux_loss_alpha: 0.001
deepseek_seq_aux: False
deepseek_norm_topk_prob: True
deepseek_hidden_size: 128
deepseek_intermediate_size: 128
deepseek_moe_intermediate_size: 80
deepseek_n_shared_experts: 2
deepseek_first_k_dense_replaces: 1
deepseek_road_balance_loss: True
deepseek_road_balance_loss_weight: 2

router_original_init: True

deepseek_residual: False
use_av_query_for_displacement: True

collision_loss_weight: 1.0
cil_loss_weight: 1.0
planning_loss_weight: 1.0
prediction_loss_weight: 2.0

feature_builder:
  _target_: src.feature_builders.carplan_feature_builder.CarPLANFeatureBuilder
  _convert_: "all"
  radius: 120
  history_horizon: 2
  future_horizon: 8
  sample_interval: 0.1
  max_agents: 48
  build_reference_line: true
